body {
  background: $bege-claro;
  border: 10px solid $bege-medio;
  color: $cinza;

  // Responsivo do body
  @include responsivo(mobile) {
    border: none;
  }
}

img {
  display: block;
  max-width: 100%; // Faz com que a imagem fique responsiva
}
