.introducao {
  margin-top: 60px;

  // Responsivo da classe introdução no mobile
  @include responsivo(mobile) {
    margin-top: 20px;
  }
}

.logo {
  margin-bottom: 60px;
}

.introducao-info {
  border-right: 2px solid $cinza;
  max-width: 320px;
  // p que está dentro da classe introducao-info
  p {
    padding-top: 10px;
  }
  p:first-child {
    border-bottom: 2px solid $cinza;
    padding-bottom: 10px;
  }
}

.introducao-telefone {
  color: $bege-escuro;

  @include responsivo(mobile) {
    padding-bottom: 40px;
  }
  &::after {
    content: '/ / / /';
    display: block;
    margin-top: 200px;
    font-size: 220px;
    letter-spacing: -90px;
    color: $cinza;
    @include responsivo(tablet) {
      margin-top: 80px;
      font-size: 160px;
      letter-spacing: -70px;
    }
    @include responsivo(mobile) {
      display: none;
    }
  }
}

.aberto {
  display: inline-block;
  width: 12px;
  height: 12px;
  background: $verde;
  border-radius: 50%;
  margin-left: 30px;
}

.introducao-foto {
  border: 10px solid $bege-medio;
  width: 100%;
}
